@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ml-8{
    margin: -2rem;
}
.bg-grey-900{
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

#pro{
    margin-left: 45%;
}